.error404 {
    position: relative;
    header {
        display: none;
    }
}

.error-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.error {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
        width: 120%;
        margin-left: -3%;
        margin-right: -10%;
    }
    &__subtitile {
        box-shadow: 0 0 40px 0 $background;
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        color: $primary;
        text-align: center;
        margin-bottom: 40px;
        @include max-w-md {
            font-size: 50px;
            margin-bottom: 30px;
        }
        @include max-w-next-sm {
            font-size: 40px;
            margin-bottom: 20px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        margin-bottom: 60px;
        @include max-w-md {
            font-size: 16px;
        }
        @include max-w-next-sm {
            font-size: 14px;
        }
    }
    &__btn {
        background: $blue-1;
        border-radius: 46px;
        padding: 20px 60px;
        color: $white;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        @include max-w-md {
            font-size: 16px;
            padding: 15px 50px;
        }
        @include max-w-next-sm {
            font-size: 14px;
            padding: 10px 40px;
        }
    }
}
