%innerSquare {
    content: '';
    display: block;
    padding-top: 100%;
}

.single-bg-figure-offer {
    pointer-events: none;
    position: absolute;
    width: 90%;
    max-width: 970px;
    min-width: 715px;
    top: 0;
    left: 0;
    z-index: 1;
    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($violet-1, 0.2) 37%, transparent 67%);
    }
}

.header-bg-figure {
    pointer-events: none;
    position: absolute;
    width: 33.45%;
    max-width: 640px;
    min-width: 385px;
    top: -30%;
    right: -5%;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($green-1, 0.15) 37%, transparent 67%);
    }
}

.home-bg-figure-slider {
    pointer-events: none;
    position: absolute;
    width: 60.75%;
    max-width: 610px;
    min-width: 450px;
    top: 50%;
    left: -2%;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($red-1, 0.28) 20%, transparent 72%);
    }
}

.error-bg-figure-one {
    pointer-events: none;
    width: 23vw;
    height: 23vw;
    min-width: 150px;
    position: absolute;
    left: 3.39%;
    right: 73.69%;
    top: -3.33%;
    bottom: 62.59%;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        overflow: hidden;
        border-radius: 250px;
        background: $white;
        mix-blend-mode: multiply;
        opacity: 0.3;
        box-shadow: 0 80px 200px rgba(6, 52, 57, 0.3), inset -40px -80px 180px rgba(125, 125, 125, 0.4);
    }
}

.error-bg-figure-one-shadow {
    pointer-events: none;
    width: 31.5vw;
    height: 31.5vw;
    position: absolute;
    left: -59px;
    top: -89px;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba(255, 75, 85, 0.15) 20%, transparent 72%);
    }
}

.error-bg-figure-two {
    pointer-events: none;
    width: 8vw;
    height: 8vw;
    min-width: 50px;
    position: absolute;
    left: 84.3%;
    right: 7.55%;
    top: 7.82%;
    bottom: 77.69%;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        overflow: hidden;
        border-radius: 250px;
        background: $white;
        mix-blend-mode: multiply;
        opacity: 0.3;
        box-shadow: 0 0 0 rgba(6, 52, 57, 0.3), inset -20px -40px 120px #D6E8D6;
    }
}

.error-bg-figure-two-shadow {
    pointer-events: none;
    width: 33vw;
    height: 33vw;
    position: absolute;
    left: 1307px;
    top: -192px;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba(75, 255, 147, 0.25) 20%, transparent 72%);
    }
}

.error-bg-figure-three {
    pointer-events: none;
    width: 16vw;
    height: 16vw;
    min-width: 100px;
    position: absolute;
    left: 73.8%;
    right: 9.38%;
    top: 54.39%;
    bottom: 15.7%;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        overflow: hidden;
        border-radius: 250px;
        background: $white;
        mix-blend-mode: multiply;
        opacity: 0.36;
        box-shadow: 0px 60px 180px #CED7EC, inset -40px -80px 180px rgba(125, 125, 125, 0.4);
    }
}

.error-bg-figure-four {
    pointer-events: none;
    width: 16vw;
    height: 16vw;
    min-width: 100px;
    position: absolute;
    left: 34.59%;
    right: 48.59%;
    top: 26.21%;
    bottom: 43.89%;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        overflow: hidden;
        border-radius: 250px;
        background: $white;
        mix-blend-mode: multiply;
        opacity: 0.3;
        box-shadow: 0px 60px 180px #E3D0EF, inset -40px -80px 180px #DFD3E7;
    }
}
