html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Montserrat";
    font-weight: 400;
    color: $primary;
    background-color: $background;
}

.wrap-content {
    height: 100%;
    //display: flex;
    //flex-direction: column;
    overflow-x: hidden;
    position: relative;
    & .content {
        flex: 1 0 auto;
    }
}

.container {
    width: 100%;
    padding: 0 50px;
    max-width: 1620px;
    margin: 0 auto;
    @include max-w-next-sm {
        padding: 0 24px;
    }
}

header,
footer {
    flex: 0 0 auto;
}

body:not(.single)>.wrap-content>.single-background-img {
    display: none;
}

.custom-logo-link {
    flex-shrink: 0;
}

.read-more-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: $blue-1;
    display: flex;
    &::after {
        content: url("../images/svg/rightArrow.svg");
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 24px;
    }
}