.hamburger {
    display: none;
    @include max-w-lg {
        display: inline-flex;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: none;
        margin: 0;
        overflow: visible;
    }
    &:hover {
        opacity: .7s;
    }
    &.open-menu:hover {
        opacity: .7;
    }
    &.open-menu {
        & .hamburger-inner,
        & .hamburger-inner::before,
        & .hamburger-inner::after {
            background-color: $primary;
        }
    }
    &-box {
        width: 20px;
        height: 18px;
        display: inline-flex;
        position: relative;
    }
    & &-inner {
        display: block;
        top: 50%;
        margin-top: -1px;
        &::before,
        &::after {
            content: "";
            display: block;
        }
        &::before {
            top: -5px;
            width: 60%;
            right: 0;
        }
        &::after {
            bottom: -5px;
        }
    }
    /*
   * Elastic
   */
    &--elastic {
        & .hamburger-inner {
            top: 1px;
            transition-duration: .275s;
            transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
            &::before {
                top: 8px;
                transition: opacity .125s .275s ease;
            }
            &::after {
                top: 16px;
                transition: transform .275s cubic-bezier(.68, -.55, .265, 1.55);
            }
        }
        &.open-menu {
            & .hamburger-inner {
                transform: translate3d(0, 8px, 0) rotate(135deg) scale(1.2);
                transition-delay: .075s;
                &::before {
                    transition-delay: 0s;
                    opacity: 0;
                }
                &::after {
                    transform: translate3d(0, -16px, 0) rotate(-270deg);
                    transition-delay: .075s;
                }
            }
        }
    }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 20px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}