.footer-content {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $black;
    &__menu-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        @include max-w-md {
            flex-direction: column;
        }
        @include max-w-xs {
            margin-top: 24px;
        }
        .menu-footer-container {
            min-width: 33.3%;
            padding-bottom: 35px;
            display: flex;
            @include max-w-xs {
                min-width: 50%;
            }
        }
        &>.main-logo-wrap {
            margin-bottom: 50px;
            width: 25%;
            @include max-w-md {
                width: 100%;
            }
        }
    }
    &__menu {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        padding-top: 5px;
        @include max-w-md {
            margin: 20px 0 10px;
            width: 100%;
        }
        @include max-w-next-sm {
            flex-wrap: wrap;
        }
        @include max-w-xs {
            margin-top: 0;
        }
        .menu {
            li {
                margin: 0 15px 21px 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $black;
                transition: 0.15s;
                &:hover {
                    color: $hover-blue;
                }
                &:first-child {
                    font-weight: 600;
                    font-size: 18px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__copyright {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: $black;
        margin: 25px auto 60px;
        @include max-w-md {
            margin-left: 0;
        }
    }
}
