.single>.wrap-content>.header {
    position: absolute;
    top: 30px;
    left: 0;
    @include max-w-md {
        top: 24px;
    }
}

.header {
    width: 100%;
    &-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        box-shadow: 0 4px 16px rgba($black, 0.04);
        border-radius: 40px;
        padding: 38px 60px 0;
        z-index: 10;
        @include max-w-lg {
            padding: 23.5px 31px 23.5px 38px;
            border-radius: 30px;
        }
        @include max-w-xs {
            padding: 21px 25px;
            &:not(.open-menu) {
                transition: 0.9s;
            }
            &.open-menu {
                border-radius: 30px 30px 0 0;
            }
        }
        .main-logo {
            padding-bottom: 38px;
            @include max-w-lg {
                padding-bottom: 0;
            }
        }
        &__burger-menu {
            @include min-w-xl {
                max-height: 0 !important;
            }
            position: absolute;
            right: 0;
            top: 85px;
            max-height: 0;
            overflow: hidden;
            border-radius: 28px;
            box-shadow: 0 4px 16px 0 rgba($black, 0.04);
            transition: max-height 0.2s linear;
            z-index: 5;
            margin-top: 15px;
            @include max-w-xs {
                width: 100%;
                margin-top: -6px;
                border-radius: 0 0 28px 28px;
                box-shadow: 0 4px 4px 0 rgba($black, 0.04);
            }
            &-item {
                z-index: 1;
                padding: 28px 25px 16px 33px;
                min-width: 330px;
                background-color: $white;
                border-radius: 0 0 28px 28px;
                box-shadow: 0 4px 16px 0 rgba($black, 0.04);
                @include max-w-lg {
                    padding: 41px 25px 41px 33px;
                }
                @include max-w-xs {
                    min-width: 100%;
                    padding-top: 28px;
                }
                a {
                    line-height: 150%;
                    transition: 0.15s;
                    &:hover {
                        color: $hover-blue !important;
                    }
                }
                &>a {
                    font-weight: 600;
                    font-size: 18px;
                    color: $black;
                }
                .menu {
                    .menu-item-has-children {
                        &::after {
                            position: absolute;
                            right: 0;
                            top: 2px;
                            transition: transform 0.4s;
                            content: url("../images/svg/bottomArrow.svg");
                        }
                        &.open-sub-menu::after {
                            content: url("../images/svg/bottomArrowHover.svg");
                            transform: rotate(180deg);
                        }
                    }
                    .menu-item:not(.menu-item-has-children) {
                        &>a {
                            display: block;
                        }
                    }
                    li {
                        margin-bottom: 24px;
                        position: relative;
                        cursor: pointer;
                        &.open-sub-menu {
                            &>a {
                                color: $hover-blue !important;
                            }
                            &>.sub-menu {
                                max-height: 100vh;
                            }
                        }
                        &>a {
                            font-weight: 600;
                            font-size: 18px;
                            color: $black;
                        }
                    }
                }
                .sub-menu {
                    max-height: 0;
                    overflow: hidden;
                    transition: 0.3s;
                    &>li {
                        padding-left: 13px;
                        position: relative;
                        &:first-child {
                            margin-top: 18px;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &>a {
                            font-weight: 600;
                            font-size: 16px;
                            color: $gray-1;
                        }
                    }
                }
            }
        }
    }
}

.menu-desktop {
    &-wrap {
        display: flex;
        flex-shrink: 0;
        opacity: 0;
        transition: 0.15s;
        &.show {
            opacity: 1;
        }
        @include max-w-lg {
            display: none;
        }
    }
    &__menu {
        .menu {
            display: flex;
            justify-content: flex-end;
            &>.menu-item {
                display: flex;
                align-items: center;
                flex-shrink: 0;
            }
            &>.menu-item.menu-item-has-children {
                &::after {
                    position: static;
                    margin-left: 8px;
                }
                &:hover .sub-menu-wrap {
                    z-index: 5;
                    opacity: 1;
                    pointer-events: auto;
                    transform: scale(1) translateY(0);
                }
                &>.sub-menu-wrap {
                    padding-top: 15px;
                    opacity: 0;
                    overflow: hidden;
                    pointer-events: none;
                    height: 100vh;
                    padding-left: 10px;
                    padding-right: 10px;
                    position: absolute;
                    top: 100%;
                    left: -10px;
                    transform-origin: 50% 0;
                    transform: scale(0.75) translateY(-20px);
                    transition: transform 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out, z-index 0s 0s;
                    z-index: -1;
                    border-radius: 28px;
                    &>.sub-menu {
                        background-color: $white;
                        border-radius: 28px;
                        box-shadow: 0 8px 8px rgba($black, 0.04);
                        min-width: 300px;
                        padding: 41px 25px 41px 33px;
                        &>li {
                            margin-top: 18px;
                            transition: 0.15s;
                            &:first-child {
                                margin-top: 0;
                            }
                            &>a {
                                display: block;
                                font-weight: 600;
                                font-size: 16px;
                                color: $black;
                            }
                            &:hover {
                                &>.sub-menu-wrap {
                                    opacity: 1;
                                    max-height: 100vh;
                                    margin-top: 15px;
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                    .sub-menu-wrap {
                        opacity: 0;
                        max-height: 0;
                        overflow: hidden;
                        transition: 0.15s;
                        .sub-menu>li:hover {
                            &>.sub-menu-wrap {
                                opacity: 1;
                                max-height: 100vh;
                                margin-top: 15px;
                                margin-left: 15px;
                            }
                        }
                    }
                }
            }
            .menu-item:hover {
                &>a {
                    color: $hover-blue !important;
                }
            }
            .menu-item-has-children {
                position: relative;
                &::after {
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: transform 0.4s;
                    content: url("../images/svg/bottomArrow.svg");
                    cursor: pointer;
                }
                &:hover {
                    &::after {
                        content: url("../images/svg/bottomArrowHover.svg");
                        transform: rotate(180deg);
                    }
                }
            }
            .sub-menu {
                &>li {
                    cursor: pointer;
                    margin-top: 18px;
                    &:first-child {
                        margin-top: 0;
                    }
                    &>a {
                        font-weight: 600;
                        font-size: 16px;
                        color: $gray-1;
                    }
                }
            }
            &>li {
                position: relative;
                margin-right: 60px;
                padding-bottom: 38px;
                &:first-child {
                    margin-left: 30px;
                }
                &>a {
                    font-weight: 600;
                    font-size: 18px;
                    color: $black;
                    height: 33px;
                    line-height: 33px;
                    flex-shrink: 0;
                }
            }
        }
    }
    &__btn-home {
        color: $black;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        height: 33px;
        line-height: 33px;
        white-space: nowrap;
        &:hover {
            color: $hover-blue;
        }
    }
}