.home,
.category {
    .header {
        margin-top: 30px;
        margin-bottom: 30px;
        @include max-w-md {
            margin-top: 24px;
        }
        @include max-w-next-sm {
            margin-bottom: 20px;
        }
    }
    .social-networks {
        margin-bottom: 30px;
        @include max-w-next-sm {
            margin-bottom: 20px;
        }
    }
    .beardcrumbs {
        margin-bottom: 40px;
        @include max-w-md {
            margin-bottom: 25px;
        }
        @include max-w-next-sm {
            margin-bottom: 15px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        color: $primary;
        margin-bottom: 40px;
        @include max-w-md {
            font-size: 48px;
            margin-bottom: 31px;
        }
        @include max-w-next-sm {
            font-size: 36px;
            margin-bottom: 29px;
        }
    }
    .navigation.pagination {
        margin-bottom: 150px;
        @include max-w-md {
            margin-bottom: 72px;
        }
    }
    .main-filter__list {
        margin-bottom: 30px;
        @include max-w-md {
            margin-bottom: 38px;
        }
        @include max-w-next-sm {
            margin-bottom: 28px;
        }
    }
}

.cat-title {
    color: $black;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 40px;
    @include max-w-md {
        font-size: 36px;
    }
    @include max-w-next-sm {
        font-size: 24px;
        margin-bottom: 32px;
    }
}