.related-posts {
    margin-bottom: 70px;
    @include max-w-md {
        margin-bottom: 22px;
    }
    &__title {
        color: $black;
        font-weight: 600;
        font-size: 48px;
        line-height: 130%;
        margin-bottom: 40px;
        @include max-w-md {
            font-size: 36px;
        }
        @include max-w-next-sm {
            font-size: 24px;
            margin-bottom: 32px;
        }
    }
}

.posts {
    &__item {
        display: block;
        width: calc((100% - 60px) / 4);
        margin-bottom: 80px;
        transition: 0.15s;
        &:hover {
            .posts__item-title,
            .read-more-btn {
                color: $hover-blue;
            }
        }
        @include max-w-md {
            width: calc((100% - 16px) / 2);
            margin-bottom: 48px;
        }
        @include max-w-next-sm {
            width: 100%;
        }
        &-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &-img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-height: 200px;
            overflow: hidden;
            border-radius: 12px;
            margin-bottom: 32px;
            @include max-w-md {
                max-height: 180px;
            }
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                @include max-w-md {
                    height: 180px;
                }
            }
        }
        &-subtitle {
            line-height: 160%;
            color: $gray-1;
            margin-bottom: 10px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: $black;
            margin-bottom: 10px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &--empty {
            margin: 0;
        }
    }
    &__categories {
        position: absolute;
        top: 20px;
        left: 10px;
        &-item {
            display: inline-block;
            color: $white;
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
            padding: 4px 15px;
            background-color: $black-1;
            border-radius: 36px;
            margin-bottom: 10px;
        }
    }
}