.rating {
    display: flex;
    align-items: center;
    &__empty {
        background: url("../images/svg/stars-empty.svg");
        height: 15px;
        width: 94px;
        position: relative;
        transition: 0.15s;
        &:hover {
            .rating__blue {
                opacity: 0;
            }
        }
        &.not-allowed {
            pointer-events: none;
        }
    }
    &__holder {
        background: url("../images/svg/stars-empty.svg");
        height: 15px;
        width: 94px;
        position: relative;
    }
    &__blue {
        background: url("../images/svg/stars-full.svg") repeat-x;
        height: 15px;
        width: 94px;
        transition: opacity 0.3s;
    }
    &__white {
        position: absolute;
        display: flex;
        width: 100%;
        top: 0;
        left: 0;
        justify-content: space-between;
    }
    &__btn {
        width: 16px;
        height: 15px;
        cursor: pointer;
        transition: 0.15s;
        path {
            fill: transparent;
            transition: fill 0.3s;
        }
        &:hover {
            path {
                fill: $yellow-1;
            }
            &~svg {
                path {
                    fill: $yellow-1;
                }
            }
        }
        &:nth-child(1) {
            order: 5;
        }
        &:nth-child(2) {
            order: 4;
        }
        &:nth-child(3) {
            order: 3;
        }
        &:nth-child(4) {
            order: 2;
        }
        &:nth-child(5) {
            order: 1;
        }
        &.no-hover {
            pointer-events: none;
        }
    }
    // &-top {
    //     @include max-w-md {
    //         .rating__empty {
    //             background: url("../images/svg/stars-empty-mini.svg");
    //             height: 11px;
    //             width: 70px;
    //         }
    //         .rating__holder {
    //             background: url("../images/svg/stars-empty-mini.svg");
    //             height: 11px;
    //             width: 70px;
    //         }
    //         .rating__blue {
    //             background: url("../images/svg/stars-full-mini.svg") repeat-x;
    //             height: 11px;
    //             width: 70px;
    //         }
    //         .rating__btn {
    //             width: 12px;
    //             height: 11px;
    //         }
    //     }
    // }
}

.votes__value {
    margin-left: 16px;
}

.rating__value {
    display: none;
    visibility: hidden;
    opacity: 0;
}