.single-background-img {
    border-radius: 0 0 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        border-radius: 0 0 12px 12px;
        width: 100%;
        height: auto;
        max-height: 630px;
        object-fit: cover;
        @include max-w-xxl {
            max-height: 526px;
        }
        @include max-w-md {
            max-height: 422px;
        }
        @include max-w-sm {
            max-height: 318px;
        }
        @include max-w-next-sm {
            height: 214px;
        }
    }
}

.single-content-wrap {
    max-width: 1360px;
    margin: -120px auto 150px;
    background-color: $background;
    border-radius: 12px 12px 0 0;
    @include max-w-md {
        margin: -80px auto 72px;
    }
    @include max-w-next-sm {
        margin-top: -43px;
    }
}

.single-social-networks {
    .social-networks {
        display: none;
        @include max-w-next-sm {
            display: flex;
            position: absolute;
            top: 128px;
        }
    }
}

.single-beardcrumbs {
    padding-top: 33px;
    padding-bottom: 17px;
    @include max-w-md {
        padding-left: 31px;
        padding-right: 31px;
    }
    @include max-w-next-sm {
        padding: 17px 17px 8px;
    }
}

.single-content {
    max-width: 956px;
    margin: 0 auto;
    padding: 0 31px;
    position: relative;
    background-color: $background;
    border-radius: 12px 12px 0 0;
    @include max-w-md {
        padding: 0;
    }
    @include max-w-next-sm {
        .social-networks {
            display: none;
        }
    }
    &__info {
        margin-bottom: 48px;
        @include max-w-md {
            margin-bottom: 32px;
        }
        @include max-w-next-sm {
            margin-bottom: 24px;
        }
        &-post {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 32px;
            border-bottom: 1px solid $white-1;
            @include max-w-md {
                padding: 0 31px 32px;
            }
            @include max-w-next-sm {
                padding: 0 17px 16px;
            }
            &-date {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: $gray-1;
                margin-right: auto;
            }
            &-wrap-views-rating {
                display: flex;
                align-items: center;
                @include max-w-next-sm {
                    justify-content: space-between;
                    padding-top: 8px;
                    width: 100%;
                }
            }
            &-views {
                display: flex;
                align-items: center;
                margin-left: 40px;
                @include max-w-next-sm {
                    margin-left: 0;
                }
                svg {
                    width: 16px;
                    height: 16px;
                    fill: $blue-1;
                    margin-right: 8px;
                }
            }
            &-category {
                background: $black-1;
                border-radius: 36px;
                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
                color: $white;
                padding: 4px 15px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
        &-company {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $black;
            padding: 39px 0;
            @include max-w-md {
                padding: 32px 31px;
            }
            @include max-w-next-sm {
                padding: 16px;
                .social-networks {
                    position: absolute;
                    top: 117px;
                }
            }
        }
    }
    .author {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        &-img {
            background-color: $gray-2;
            width: 80px;
            height: 80px;
            border-radius: 80px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 100%;
                max-width: none;
                width: auto;
            }
        }
        &-info {
            margin-left: 40px;
            &__name {
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                color: $black;
                margin-bottom: 8px;
            }
            &__role {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: $gray-1;
            }
        }
    }
    .author-information {
        box-shadow: 0px 4px 44px rgba($black, 0.08);
        border-radius: 12px;
        padding: 32px;
        margin: 48px auto 80px;
        @include max-w-md {
            margin-bottom: 72px;
        }
        @include max-w-next-sm {
            margin-bottom: 48px;
        }
        &__bio {
            margin-top: 22px;
            margin-left: 120px;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: $black;
            @include max-w-next-sm {
                margin-top: 16px;
                margin-left: 0;
            }
        }
    }
    .single-navigation {
        border-top: 1px solid $black;
        margin-bottom: 150px;
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        @include max-w-md {
            padding-top: 48px;
        }
        @include max-w-next-sm {
            margin-bottom: 72px;
            padding-top: 20px;
            flex-wrap: wrap;
            .rating {
                order: -1;
                width: 100%;
                margin-bottom: 35px;
                justify-content: center;
            }
        }
        [rel] {
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            color: $black;
            display: flex;
            transition: 0.15s;
            &:hover {
                color: $hover-blue;
            }
            @include max-w-next-sm {
                font-size: 14px;
            }
        }
        [rel="prev"] {
            &::before {
                content: url("../images/svg/rightArrowBlack.svg");
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-right: 37px;
                transform: rotate(180deg);
                @include max-w-next-sm {
                    margin-right: 16px;
                }
            }
            &:hover::before {
                content: url("../images/svg/rightArrowHover.svg");
            }
        }
        [rel="next"] {
            &::after {
                content: url("../images/svg/rightArrowBlack.svg");
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-left: 37px;
                @include max-w-next-sm {
                    margin-left: 16px;
                }
            }
            &:hover::after {
                content: url("../images/svg/rightArrowHover.svg");
            }
        }
    }
    .categorys-wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
    }
}