.main-slider {
    display: flex;
    box-shadow: 0 4px 44px rgba($black, 0.08);
    border-radius: 12px;
    width: 100%;
    margin-bottom: 80px;
    overflow: hidden;
    height: 415px;
    @include max-w-md {
        margin-bottom: 72px;
        height: 320px;
    }
    @include max-w-next-sm {
        flex-direction: column;
        height: auto;
    }
    &__left {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 12px 0 0 12px;
        @include max-w-next-sm {
            border-radius: 12px 12px 0 0;
            width: 100%;
            height: 180px;
        }
        &-inner {
            height: 100%;
        }
        img {
            opacity: 1;
            transition: 0.8s;
            position: absolute;
            top: 0;
            left: 0;
            visibility: visible;
            object-fit: cover;
            width: 100%;
            height: 100%;
            min-height: 180px;
            border-radius: 12px 0 0 12px;
            @include max-w-next-sm {
                border-radius: 12px 12px 0 0;
            }
        }
    }
    &__right {
        background: $white;
        position: relative;
        width: 50%;
        padding: 38px 80px;
        display: flex;
        flex-direction: column;
        @include max-w-md {
            padding: 32px 22px 32px 46px;
        }
        @include max-w-sm {
            padding: 32px 22px;
        }
        @include max-w-next-sm {
            width: 100%;
            padding: 16px;
            padding-bottom: 32px;
        }
        a[data-content-id] {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.8s ease-in-out;
            position: relative;
            &:hover {
                h4,
                span {
                    color: $hover-blue;
                }
            }
        }
        &-text-margin {
            margin-top: 40px;
            margin-bottom: 40px;
            @include max-w-xl {
                margin-top: 32px;
                margin-bottom: 32px;
            }
            @include max-w-lg {
                margin-top: 24px;
                margin-bottom: 24px;
            }
            @include max-w-md {
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }
        h4 {
            font-weight: 700;
            font-size: 36px;
            line-height: 130%;
            color: $primary;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @include max-w-xl {
                font-size: 32px;
            }
            @include max-w-lg {
                font-size: 28px;
            }
            @include max-w-md {
                font-size: 24px;
            }
            @include max-w-prev-xs {
                font-size: 21px;
            }
        }
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: $black;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @include max-w-lg {
                font-size: 16px;
            }
            @include max-w-md {
                font-size: 14px;
            }
        }
    }
    .circle-button {
        margin-top: 40px;
        display: flex;
        @include max-w-md {
            margin-top: 16px;
        }
        &__item {
            display: block;
            margin-right: 6px;
            background-color: $muted;
            border-radius: 20px;
            border: 1px solid $black;
            width: 15px;
            height: 15px;
            cursor: pointer;
            transition: 0.15s;
            overflow: hidden;
            &:hover {
                border-color: $blue-1;
            }
            &.active {
                border-color: $blue-1;
                background-color: $blue-1;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    [data-content-id]:not(.active) {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        animation: slider 1.4s;
        left: 100%;
        @include max-w-prev-xs {
            left: 0;
            animation: sliderMob 1s;
            top: 100%;
        }
    }
}

@keyframes slider {
    0% {
        left: 0;
    }
    50% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes sliderMob {
    0% {
        top: 0;
    }
    50% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}