.visual-editor {
    position: relative;
    z-index: 1;
    color: $primary;
    line-height: 160%;
    * {
        margin: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 130%;
        font-weight: 600;
        color: $primary;
        margin-top: 0;
        margin-bottom: 40px;
        @include max-w-md {
            margin-bottom: 30px;
        }
    }
    h1,
    h2 {
        font-weight: 700;
    }
    h1 {
        font-size: 54px;
        @include max-w-md {
            font-size: 36px;
        }
        @include max-w-next-sm {
            font-size: 34px;
        }
    }
    h2 {
        font-size: 48px;
        @include max-w-md {
            font-size: 32px;
        }
    }
    h3 {
        font-size: 36px;
        @include max-w-md {
            font-size: 28px;
        }
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }
    p {
        margin: 30px 0;
    }
    a {
        text-decoration: underline;
        color: $prelude-blue;
        transition: 0.15s;
        &:hover {
            color: $hover-blue;
            cursor: pointer;
        }
    }
    img {
        width: 100%;
        height: auto;
        font-size: 0;
        border-radius: 12px;
        margin: 15px 0;
        z-index: 2;
        position: relative;
    }
    figure {
        width: 100% !important;
        height: auto;
    }
    table {
        border-radius: 5px;
        margin: 10px 0;
        border: 1px solid $white-1;
        border-collapse: collapse;
        td {
            padding: 15px 25px;
            border: 1px solid $white-1;
        }
        tr {
            border: 1px solid $white-1;
        }
    }
}

strong {
    font-weight: 600 !important;
}

q,
blockquote {
    font-size: 24px;
    margin: 30px 0 !important;
    position: relative;
    padding-left: 60px;
    &::before {
        position: absolute;
        top: 35px;
        left: 0;
        content: "“";
        font-size: 144px;
        color: transparent;
        -webkit-text-stroke: 1px $black;
    }
}

#toc_container {
    padding: 32px;
    border: none;
    min-width: 100%;
    background: $white;
    box-shadow: 0 4px 44px rgba($black, 0.08);
    border-radius: 12px;
    z-index: 1;
    position: relative;
    @include max-w-next-sm {
        padding: 32px 14px;
    }
    >.toc_title {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        color: $black;
        .toc_toggle {
            font-size: 0;
            display: flex;
            align-items: center;
            a {
                font-weight: 600;
                font-size: 18px;
                line-height: 150%;
                color: $blue-1;
                display: flex;
                align-items: center;
                transition: 0.15s;
                &:hover {
                    text-decoration: none;
                    color: $hover-blue;
                    &::after {
                        background-image: url("../images/svg/upArrow-hover.svg");
                    }
                }
                &::after {
                    transition: 0.3s;
                    content: "";
                    background-image: url("../images/svg/upArrow.svg");
                    background-size: cover;
                    width: 16px;
                    height: 16px;
                    margin-left: 8px;
                }
            }
        }
    }
    .toc_list {
        ul {
            margin-left: 32px;
            @include max-w-next-sm {
                margin-left: 14px;
            }
        }
        a {
            color: $blue-1;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            text-decoration-line: underline;
            transition: 0.15s;
            &:hover {
                color: $hover-blue;
            }
        }
    }
}

.contracted .toc_toggle a::after {
    transform: rotate(180deg);
}
