<style>
    .notification-very-important {
        width: 100%;
        padding: 32px;
        background-color: white;
        border: 1px solid #ff4b55;
        box-sizing: border-box;
        box-shadow: 0px 4px 42px rgba(black, 0.06);
        border-radius: 12px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin: 16px 0;
    }

    .notification-very-important > svg {
        width: 50px;
        flex-shrink: 0;
        height: 50px;
        margin-left: 8px;
    }

    .notification-very-important > p {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: black;
        margin: 0 0 0 40px;
    }

    .notification-very-important span {
        font-weight: 700;
    }

    @media only screen and (max-width: 1199px) {
        .notification-very-important {
            padding: 27px;
        }

        .notification-very-important > svg {
            width: 45px;
            height: 45px;
        }

        .notification-very-important > p {
            margin-left: 35px;
        }
    }

    @media only screen and (max-width: 767px) {
        .notification-very-important {
            padding: 15px;
        }

        .notification-very-important > svg {
            width: 40px;
            height: 40px;
        }

        .notification-very-important > p {
            font-size: 16px;
            line-height: 140%;
            margin-left: 23px;
        }
    }

    @media only screen and (max-width: 479px) {
        .notification-very-important {
            padding: 12px;
        }

        .notification-very-important > svg {
            width: 35px;
            height: 35px;
            margin-left: 0;
        }

        .notification-very-important > p {
            font-size: 14px;
            margin-left: 12px;
        }
    }
</style>

<div class="notification-very-important">
    <svg fill="none" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
            <path
                d="M20.328 28.111h9.37v9.37h-9.37v-9.37zM29.4 24.988h-8.774L15.272 0h19.481L29.4 24.988z"
                fill="#FFCB5A"
            />
            <path
                d="M18.683 49.204a22.566 22.566 0 01-6.387-2.655A25.073 25.073 0 01.73 19.079l3.035.736a22.003 22.003 0 00-.617 5.174A21.864 21.864 0 0040.474 40.45c8.141-8.14 8.576-21.197.995-29.86a1.518 1.518 0 01.032-2.087l.066-.07a1.51 1.51 0 012.187.036 25.084 25.084 0 015.481 22.815 22.568 22.568 0 01-2.655 6.394 25.128 25.128 0 01-27.897 11.526zM4.639 17.032L1.728 15.9a24.82 24.82 0 011.42-3.013l2.731 1.517a21.504 21.504 0 00-1.24 2.631v-.004zm2.811-5.083l-2.498-1.863A25.604 25.604 0 017.105 7.56l2.24 2.176a22.303 22.303 0 00-1.892 2.218l-.003-.005z"
                fill="#E76E54"
            />
            <path
                d="M25.012 43.72A18.73 18.73 0 0110.6 13.008a1.57 1.57 0 012.318-.113c.566.55.62 1.442.127 2.058-5.317 6.341-4.764 15.73 1.26 21.403 6.024 5.674 15.428 5.663 21.44-.024 6.012-5.687 6.544-15.076 1.213-21.406-.483-.6-.43-1.47.124-2.007l.054-.054a1.535 1.535 0 012.262.109A18.733 18.733 0 0125.012 43.72z"
                fill="#DD523C"
            />
        </g>
        <defs>
            <clipPath id="clip0"><path fill="#fff" d="M0 0h50v50H0z" /></clipPath>
        </defs>
    </svg>
    <p>
        <span>Важно!</span> space is often conceived in three linear dimensions, although modern physicists usually
        consider it, with time, to be part of a boundless four-dimensional continuum known as spacetime. The concept of
        space is considered to be of fundamental importance to an understanding of the physical universe.
    </p>
</div>
