<style>
    .notification-important {
        width: 100%;
        padding: 32px;
        background-color: white;
        border: 1px solid #73af00;
        box-sizing: border-box;
        box-shadow: 0px 4px 42px rgba(black, 0.06);
        border-radius: 12px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin: 16px 0;
    }

    .notification-important > svg {
        width: 50px;
        flex-shrink: 0;
        height: 50px;
        margin-left: 8px;
    }

    .notification-important > p {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: black;
        margin: 0 0 0 40px;
    }

    .notification-important span {
        font-weight: 700;
    }

    @media only screen and (max-width: 1199px) {
        .notification-important {
            padding: 27px;
        }

        .notification-important > svg {
            width: 45px;
            height: 45px;
        }

        .notification-important > p {
            margin-left: 35px;
        }
    }

    @media only screen and (max-width: 767px) {
        .notification-important {
            padding: 15px;
        }

        .notification-important > svg {
            width: 40px;
            height: 40px;
        }

        .notification-important > p {
            font-size: 16px;
            line-height: 140%;
            margin-left: 23px;
        }
    }

    @media only screen and (max-width: 479px) {
        .notification-important {
            padding: 12px;
        }

        .notification-important > svg {
            width: 35px;
            height: 35px;
            margin-left: 0;
        }

        .notification-important > p {
            font-size: 14px;
            margin-left: 12px;
        }
    }
</style>

<div class="notification-important">
    <svg fill="none" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
            <path
                d="M28.563 50h-7.125l-2.868-6.055-2.419-1.003-6.309 2.255-5.039-5.04 2.255-6.308-1.003-2.42L0 28.564v-7.125l6.055-2.868 1.003-2.419-2.255-6.309 5.04-5.039 6.312 2.256 2.414-1L21.438 0h7.125l2.868 6.06 2.414 1 6.313-2.257 5.039 5.04-2.255 6.308 1.003 2.42L50 21.436v7.125l-6.055 2.868-1.003 2.419 2.255 6.309-5.04 5.039-6.308-2.255-2.42 1.003L28.564 50z"
                fill="#FFCB5A"
            />
            <path d="M31.25 34.375h-12.5V23.438h-6.522L25 8.538l12.772 14.9H31.25v10.937z" fill="#fff" />
            <path d="M28.125 37.5h3.125v3.125h-3.125V37.5zM18.75 37.5h3.125v3.125H18.75V37.5z" fill="#FBA61F" />
        </g>
        <defs>
            <clipPath id="clip0"><path fill="#fff" d="M0 0h50v50H0z" /></clipPath>
        </defs>
    </svg>
    <p>
        <span>Важно!</span> space is often conceived in three linear dimensions, although modern physicists usually
        consider it, with time, to be part of a boundless four-dimensional continuum known as spacetime. The concept of
        space is considered to be of fundamental importance to an understanding of the physical universe.
    </p>
</div>
