<style>
    .notification-advice {
        width: 100%;
        padding: 32px;
        background-color: white;
        border: 1px solid #909cff;
        box-sizing: border-box;
        box-shadow: 0px 4px 42px rgba(black, 0.06);
        border-radius: 12px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin: 16px 0;
    }

    .notification-advice > svg {
        width: 50px;
        flex-shrink: 0;
        height: 50px;
        margin-left: 8px;
    }

    .notification-advice > p {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: black;
        margin: 0 0 0 40px;
    }

    .notification-advice span {
        font-weight: 700;
    }

    @media only screen and (max-width: 1199px) {
        .notification-advice {
            padding: 27px;
        }

        .notification-advice > svg {
            width: 45px;
            height: 45px;
        }

        .notification-advice > p {
            margin-left: 35px;
        }
    }

    @media only screen and (max-width: 767px) {
        .notification-advice {
            padding: 15px;
        }

        .notification-advice > svg {
            width: 40px;
            height: 40px;
        }

        .notification-advice > p {
            font-size: 16px;
            line-height: 140%;
            margin-left: 23px;
        }
    }

    @media only screen and (max-width: 479px) {
        .notification-advice {
            padding: 12px;
        }

        .notification-advice > svg {
            width: 35px;
            height: 35px;
            margin-left: 0;
        }

        .notification-advice > p {
            font-size: 14px;
            margin-left: 12px;
        }
    }
</style>

<div class="notification-advice">
    <svg fill="none" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
            <path
                d="M34.38 37.504H15.634v-1.562a9.527 9.527 0 00-2.86-6.694c-6.655-6.747-6.591-17.608.143-24.276 6.735-6.667 17.596-6.624 24.277.098 6.68 6.722 6.657 17.584-.053 24.277a9.257 9.257 0 00-2.763 6.595v1.562z"
                fill="#FFCB5A"
            />
            <path
                d="M17.197 40.628h15.62a1.562 1.562 0 110 3.124h-15.62a1.562 1.562 0 010-3.124zM20.32 46.876h9.373a1.562 1.562 0 110 3.124h-9.372a1.562 1.562 0 010-3.124z"
                fill="#62808C"
            />
            <path
                d="M14.073 15.636h3.124v3.124h-3.124v-3.124zM20.32 18.759h3.125v18.744h3.124V18.76h3.124v-3.124h-9.372v3.124zM32.817 15.635h3.124v3.124h-3.124v-3.124z"
                fill="#fff"
            />
        </g>
        <defs>
            <clipPath id="clip0"><path fill="#fff" d="M0 0h50v50H0z" /></clipPath>
        </defs>
    </svg>
    <p>
        <span>Совет!</span> space is often conceived in three linear dimensions, although modern physicists usually
        consider it, with time, to be part of a boundless four-dimensional continuum known as spacetime. The concept of
        space is considered to be of fundamental importance to an understanding of the physical universe.
    </p>
</div>
