%fixedXY {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@include placeholder {
    opacity: 1;
    line-height: normal;
}

.no-scroll {
    @extend %fixedXY;
    overflow-y: scroll;
}

.not-allowed {
    pointer-events: none !important;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.inline-block {
    display: inline-block;
}

a {
    text-decoration: none;
}

.navigation.pagination {
    display: inline-block;
    border-radius: 12px;
    background-color: $white;
    box-shadow: 0 4px 45px rgba($black, 0.05)
}

.nav-links {
    display: flex;
    align-items: center;
}

.page-numbers {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    color: $black;
    background-color: $muted;
    transition: background-color $animate-main, color $animate-main;
    &:hover,
    &.current {
        background-color: $blue-1;
        color: $white;
    }
    &.dots {
        color: transparent;
        position: relative;
        &::after {
            position: absolute;
            bottom: 5px;
            content: "...";
            color: $black;
        }
        &:hover {
            background-color: $muted;
            color: $black;
        }
    }
    &:nth-child(n + 2) {
        margin-left: 10px;
    }
    &:first-child {
        border-radius: 12px 4px 4px 12px;
    }
    &:last-child {
        border-radius: 4px 12px 12px 4px;
    }
    &.next {
        &::after {
            transform: rotate(180deg);
            content: url("../images/svg/leftArrowBlack.svg");
            height: 28px;
            cursor: pointer;
        }
        &:hover::after {
            content: url("../images/svg/leftArrowWhite.svg");
        }
    }
    &.prev {
        &::after {
            content: url("../images/svg/leftArrowBlack.svg");
            height: 28px;
            cursor: pointer;
        }
        &:hover::after {
            content: url("../images/svg/leftArrowWhite.svg");
        }
    }
}

.kama_breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    span,
    a {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
    }
    a {
        color: $blue-1;
        transition: 0.15s;
        &:hover {
            color: $hover-blue;
        }
    }
    .kb_title {
        color: $primary;
    }
    .kb_sep {
        color: $blue-1;
        margin-left: 3px;
        margin-right: 3px;
    }
}

.main-filter {
    &__list {
        display: flex;
    }
    &__item {
        font-weight: bold;
        font-size: 18px;
        padding: 10px 30px;
        text-align: center;
        line-height: 150%;
        margin-bottom: 10px;
        @include max-w-md {
            font-size: 17px;
            padding: 8px 23px;
        }
        @include max-w-next-sm {
            font-size: 16px;
            padding: 6px 15px;
        }
        &:not(.active) {
            &>a {
                white-space: nowrap;
                color: $black;
                transition: 0.15s;
                &:hover {
                    color: $hover-blue;
                }
            }
        }
        &.active {
            border-radius: 141px;
            background-color: $blue-1;
            &>a {
                white-space: nowrap;
                color: $white;
            }
        }
    }
}

.social-networks {
    display: flex;
    noindex:last-child>a {
        margin-right: 0;
    }
    &__item {
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border-radius: 12px;
        margin-right: 12px;
        box-shadow: 0 4px 45px rgba($black, 0.05);
        z-index: 1;
        position: relative;
        border: 1px solid $white-1;
        @include max-w-next-sm {
            width: 35px;
            height: 35px;
            margin-right: 7px;
        }
        svg {
            max-width: 100%;
            max-height: 100%;
        }
        &.instagram svg {
            width: 17px;
            height: 17px;
            @include max-w-next-sm {
                width: 14px;
                height: 14px;
            }
        }
        &.telegram svg {
            width: 16.2px;
            fill: $blue-2;
            @include max-w-next-sm {
                width: 13.5px;
            }
        }
        &.twitter svg {
            width: 22.7px;
            fill: $blue-1;
            @include max-w-next-sm {
                width: 15px;
            }
        }
        &.facebook svg {
            width: 11.2px;
            fill: $blue-3;
            @include max-w-next-sm {
                width: 7px;
            }
        }
    }
}

.table-wrap,
.video-wrap,
.filter-wrap {
    overflow-x: auto;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        margin: 5px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 9px;
        background-color: $scroll-thumb;
    }
    &::-webkit-scrollbar-track {
        margin: 0;
        border-radius: 9px;
        background-color: $scroll-track;
    }
}

.table-wrap {
    padding: 0 1px;
}

.video-wrap {
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    margin: 20px 0;
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

.main-logo svg {
    width: 178px;
    height: 33px;
}

#wpadminbar {
    display: none;
}

html[lang] {
    margin: 0 !important;
}
