$primary: #333;
$prelude-blue: #2676de;
$background: #fffbfb;
$black: #000;
$black-1: #0f0f0f;
$white: #fff;
$white-1: #d9d9d9;
$gray-1: #505050;
$yellow-1: #fc0;
$gray-2: #c4c4c4;
$blue-1: #2f7fef;
$blue-2: #1f95d3;
$blue-3: #41479b;
$blue-4: #8995f5;
$blue-5: #7e88d8;
$blue-6: #c6b6fa;
$hover-blue: #3d65e7;
$muted: transparent;
$scroll-thumb: #636a75;
$scroll-track: #242931;
$violet-1: #854bff;
$green-1: #4bff93;
$red-1: #ff4b55;
// animate
$animate-main: .4s;